doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Shop
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        main  
            h1 My products 
            p List of all products 
            .grid 
                each product in prods 
                    article.card.product-item 
                        header.card__header 
                            h1.product__title #{product.title} 
                        .card__image 
                            img(src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fb%2Fb6%2FGutenberg_Bible%252C_Lenox_Copy%252C_New_York_Public_Library%252C_2009._Pic_01.jpg%2F447px-Gutenberg_Bible%252C_Lenox_Copy%252C_New_York_Public_Library%252C_2009._Pic_01.jpg&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FBook&tbnid=H_C2tEj6QySjmM&vet=12ahUKEwiwtujsuPTzAhUUn0sFHcNUB3wQMygBegUIARDMAQ..i&docid=9dPTCh_caY1RiM&w=447&h=279&q=book&ved=2ahUKEwiwtujsuPTzAhUUn0sFHcNUB3wQMygBegUIARDMAQ", alt="A Book")    

                        .card__content 
                            h2.product__price $18
                            p.product__description History Book 

                        .card__actions 
                            button.btn Add to Cart 

